
@{
    ViewBag.Title = "Home";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/Content/Playground.css" />
</head>


<body>
    <div class="jumbotron" style="background-image: url()">
        <h1>This is a call to action!</h1>
        <input type="button" src="" value="Call to action button" />
    </div>

    <div>
        <h2 style="text-align: center;">Dig in to the missionary lessons below!</h2>
    </div>

    <div class="navigation-container">

        <div id="restoration">
            <a href="">
                <div class="navigation-top" style="background-color:#2798d3">
                    <i class="fas fa-user-tie"></i>
                    <h4>The Restoration of Christ's Church</h4>
                </div>
            </a>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
            </ul>
        </div>

        <div id="plan-of-salvation">
            <a href="">
                <div class="navigation-top" style="background-color:#f67a3c">
                    <i class="fas fa-sun"></i>
                    <h4>The Plan of Salvation</h4>
                </div>
            </a>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
            </ul>
        </div>

        <div id="gospel">
            <a href="">
                <div class="navigation-top" style="background-color:#428a47">
                    <i class="fas fa-book-open"></i>
                    <h4>The Gospel of Jesus Christ</h4>
                </div>
            </a>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
            </ul>
        </div>

        <div id="commandments">
            <a href="">
                <div class="navigation-top" style="background-color:#684382">
                    <span style='font-family: "saints"; content: "B"'>B</span>
                    <h4>The Commandments</h4>
                </div>
            </a>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
            </ul>
        </div>

        <div id="laws-and-ordinances">
            <a href="">
                <div class="navigation-top" style="background-color:#f2ae36">
                    <span style='font-family: "saints"; content: "A"'>A</span>
                    <h4>Laws and Ordinances</h4>
                </div>
            </a>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
            </ul>
        </div>

    </div>

    <br>
</body>
